body {
    background: url(../img/h794quI.jpg) no-repeat center center fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

