{% extends "base.html" %}

{% block homeActive %}{% endblock %}
{% block topActive %}{% endblock %}
{% block aboutActive %}{% endblock %}
{% block title %}genderClassifier{% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <th>id</th>
        <th>username</th>
        <th>gender</th>
        <th>pic</th>
        <th>newGender</th>
        <th>hide?</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ x.id }}</td>
            <td><a href="http://facebook.com/{{ x.username }}">{{ x.username }}</a></td>
            <td>{{ x.gender }}</td>
            <td><img src="{{ pic }}" height="400" width="400" class="thumbnail"></td>
            <td>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <form action="{{ url_for('classifyGender', username=x.username, newGender=0) }}", method="GET">
                            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span><br>girl</button>
                        </form>

                        <form action="{{ url_for('classifyGender', username=x.username, newGender=2) }}", method="GET">
                            <button type="submit" class="btn btn-primary">none</button>
                        </form>

                        <form action="{{ url_for('classifyGender', username=x.username, newGender=1) }}", method="GET">
                            <button type="submit" class="btn btn-info">boy<br><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </div>
            </td>
            <td>
                <form action="{{ url_for('classifyGender', username=x.username, newGender=3) }}", method="GET">
                    <button type="submit" class="btn btn-danger">hide that shit<br>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<br>

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;"><center>probably {{ percentage }}% complete ({{ girls+boys }}/{{ girls+boys+ungendered }})</center>
    </div>
</div>

{% endblock %}
