{% extends "base.html" %}

{% block homeActive  %}{% endblock %}
{% block aboutActive %}{% endblock %}

{% block title %}top{{ howMany }}{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>rank</th>
            <th>pic</th>
            <th>votes</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(0, howMany) %}
            <tr {% if rank[i] == 1 %}class="danger"{% elif rank[i] == 2 %}class="info"{% elif rank[i] == 3 %}class="warning"{% endif %}>
                <td>{{ rank[i] }}</td>
                <td><img src="{{ entries[i].pic }}" height="{{ [400, 300, 250][rank[i]-1] if rank[i] <= 3 else 200 }}" width="{{ [400, 300, 250][rank[i]-1] if rank[i] <= 3 else 200 }}" class="thumbnail"></td>
                <td>{{ entries[i].votes }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
